<!DOCTYPE HTML>
<!DOCTYPE html>
<html>
<head>
	<title>Джим Рэйнор</title>
	<meta charset="utf-8">
	<baseurl href="homework11">
</head>
<body>
<hr>
<img src="https://cs11.pikabu.ru/post_img/big/2020/03/23/10/1584981134131547095.jpg" align="middle" width="200" height="150">
<hr>
<h1>Джим Рэйнор</h1>

<h2>
	Имя: <u>Джим</u>
	<br><em>Фамилия:</em> <u>Рэйнор</u>
	<br>Статус: <mark><u>преступник</u></mark>
	<br>Объединение: <u>"Сыны корхала"</u>
</h2>

<hr>
<h3>Жизненные интересы и моральные терзания:
<ul>
	<li>виски
	<li>Сара Керриган
	<li>чем заправить Гиперион на следующей неделе
	<li>почему морпехи никогда не возвращаются в казарму
	<li>когда понерфят протоссов
	<li>пересматривает WCS global finals 2016
</ul>
</h3>
<hr>
<h3><a href="https://ru.wikipedia.org/wiki/%D0%94%D0%B6%D0%B8%D0%BC_%D0%A0%D0%B5%D0%B9%D0%BD%D0%BE%D1%80">почитай о мне в вики</a></h3>

</body>
</html>